<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<!-- --------- HEADER -----------  -->
<header>
  <div class="container header__container">
    <a href="index.html" class="main-logo">Logo</a>
    <div class="header__panel">
      <ul class="header__panel__navigation">
        <li><a class="nav-item" href="index.html">Главная</a></li>
        <li><a class="nav-item nav-item-active" href="about.html">О нас</a></li>
        <li><a class="nav-item" href="#">Услуги</a></li>
        <li><a class="nav-item" href="#">Галерея</a></li>
        <li><a class="nav-item" href="#">Блог</a></li>
        <li><a class="nav-item" href="#">Контакты</a></li>
      </ul>
      <div class="header__panel__social">
        <ul>
          <li><a href="#"><img src="./img/icons/facebook%201.png" alt="facebook"></a></li>
          <li><a href="#"><img src="./img/icons/instagram%201.png" alt="instagram"></a></li>
          <li><a href="#"><img src="./img/icons/youtube%201.png" alt="youtube"></a></li>
        </ul>
      </div>
      <div class="header__panel__language">
        <select name="language" id="language">
          <option value="ru" selected>RU</option>
          <option value="es">ES</option>
          <option value="en">EN</option>
        </select>
      </div>
    </div>
  </div>
</header>

<main>

  <!-- About intro----------- -->
  <section class="row about-intro">
    <div class="column-2 about-intro__picture">
      <img src="./img/about/about-1.png" alt="about">
    </div>
    <div class="column-2 about-intro__text">
      <h2>О нас</h2>
      <p class="quote"><q>Станьте частью команды Fresh Arts Line и вы достигнете необычайных успехов!</q></p>
      <p class="founders">Алла и Андрей Мишаковы</p>
      <p class="text">Основатели академии талантов Fresh Arts Line, продюсеры, концертирующий саксофонисты, лауреаты и дипломанты международных конкурсов.</p>
    </div>
  </section>

  <!-- Features----------- -->
  <section class="row about-features">

    <div class="about-features__item">
      <div class="text">
        <h3>Почему мы</h3>
        <p>Творческая мастерская с профессиональной командой, в которой вы сможете реализовать творческий потенциал. Овладеете мастерством игры на музыкальном инструменте. Познаете секреты хореографического, и актерского мастерства.</p>
      </div>
      <div class="picture">
        <img src="./img/about/features/why-us.png" alt="why-us">
      </div>
    </div>

    <div class="about-features__item">
      <div class="text">
        <h3>Возможность</h3>
        <p>Учитечь в любой точке мира. Переключайтесь между вашим компьютером, планшетом или мобильным устройством.</p>
      </div>
      <div class="picture">
        <img src="./img/about/features/learn-anywhere.png" alt="learn-anywhere">
      </div>
    </div>

    <div class="about-features__item">
      <div class="text">
        <h3>Уникальность</h3>
        <p>Учитечь в любой точке мира. Переключайтесь между вашим компьютером, планшетом или мобильным устройством.</p>
      </div>
      <div class="picture">
        <img src="./img/about/features/teacher.png" alt="teacher">
      </div>
    </div>

  </section>

</main>

</body>
</html>
