<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>popup</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
  <div class="popup-underlay">
    <div class="popup-box">
      <h2>Свяжитесь с нами</h2>
      <form>
        <label for="input_name">Имя</label>
        <input id="input_name" type="text" />
        <label for="input_email">E-mail</label>
        <input id="input_email" type="email" />
        <label for="input_phone">Телефон</label>
        <input id="input_phone" type="tel" />
        <label for="input_message">Сообщение</label>
        <textarea name="input_message" id="input_message"></textarea>
        <label>
          Я даю свое согласие на обработку
          персональных данных
          <input id="input_agreement" type="checkbox"/>
        </label>
        <input type="submit" value="Отправить"/>
      </form>
    </div>
  </div>
</body>
</html>
