<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/main.css">
</head>
<body>
<!-- --------- HEADER -----------  -->
<header>
  <div class="container header__container">
    <a href="index.html" class="main-logo">
      <img src="./img/logo.png" alt="logo">
    </a>
    <div class="header__panel">
      <!-- Desktop Menu -->
      <ul class="header__panel__navigation">
        <li><a class="nav-item" href="index.html">Главная</a></li>
        <li><a class="nav-item" href="about.html">О нас</a></li>
        <li><a class="nav-item nav-item-active" href="#">Услуги</a></li>
        <li><a class="nav-item" href="#">Галерея</a></li>
        <li><a class="nav-item" href="#">Блог</a></li>
        <li><a class="nav-item" href="#">Контакты</a></li>
      </ul>
      <!-- Mobile Menu -->
      <div class="" id="underlay"></div>
      <div class="burger" id="burger">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </div>
      <ul class="mobile-nav invisible">
        <li><a class="mobile-nav__item" href="index.html">Главная</a></li>
        <li><a class="mobile-nav__item" href="about.html">О нас</a></li>
        <li><a class="mobile-nav__item" href="#">Услуги</a></li>
        <li><a class="mobile-nav__item" href="#">Галерея</a></li>
        <li><a class="mobile-nav__item" href="#">Блог</a></li>
        <li><a class="mobile-nav__item" href="#">Контакты</a></li>
      </ul>
      <div class="header__panel__social">
        <ul>
          <li><a href="#"><img src="./img/icons/facebook%201.png" alt="facebook"></a></li>
          <li><a href="#"><img src="./img/icons/instagram%201.png" alt="instagram"></a></li>
          <li><a href="#"><img src="./img/icons/youtube%201.png" alt="youtube"></a></li>
        </ul>
      </div>
      <!--      <div class="header__panel__language">-->
      <!--        <select name="language" id="language">-->
      <!--          <option value="ru" selected>RU</option>-->
      <!--          <option value="es">ES</option>-->
      <!--          <option value="en">EN</option>-->
      <!--        </select>-->
      <!--      </div>-->
    </div>
  </div>
</header>

<main>

  <!------- SERVICES -------->
  <section class="container services-container">
    <h2>Услуги</h2>
    <div class="services-content">

      <div class="services-item">
        <div class="services-item-image">
          <img src="./img/services/piano-lessons.jpg" alt="services-item">
        </div>
        <div class="services-item-text">
          <p>Курс игры на музыкальных инструментах</p>
          <a class="button" href="service-description.html">Подробнее</a>
        </div>
      </div>

      <div class="services-item">
        <div class="services-item-image">
          <img src="./img/services/piano-lessons.jpg" alt="services-item">
        </div>
        <div class="services-item-text">
          <p>Курс игры на музыкальных инструментах</p>
          <a class="button" href="service-description.html">Подробнее</a>
        </div>
      </div>

      <div class="services-item">
        <div class="services-item-image">
          <img src="./img/services/piano-lessons.jpg" alt="services-item">
        </div>
        <div class="services-item-text">
          <p>Курс игры на музыкальных инструментах</p>
          <a class="button" href="service-description.html">Подробнее</a>
        </div>
      </div>

      <div class="services-item">
        <div class="services-item-image">
          <img src="./img/services/piano-lessons.jpg" alt="services-item">
        </div>
        <div class="services-item-text">
          <p>Курс игры на музыкальных инструментах</p>
          <a class="button" href="service-description.html">Подробнее</a>
        </div>
      </div>

      <div class="services-item">
        <div class="services-item-image">
          <img src="./img/services/piano-lessons.jpg" alt="services-item">
        </div>
        <div class="services-item-text">
          <p>Курс игры на музыкальных инструментах</p>
          <a class="button" href="service-description.html">Подробнее</a>
        </div>
      </div>

      <div class="services-item">
        <div class="services-item-image">
          <img src="./img/services/piano-lessons.jpg" alt="services-item">
        </div>
        <div class="services-item-text">
          <p>Курс игры на музыкальных инструментах</p>
          <a class="button" href="service-description.html">Подробнее</a>
        </div>
      </div>

    </div>
  </section>


</main>

<footer>
  <div class="container">
    <div class="row">
      <div class="col footer__logo">
        <a href="index.html" class="main-logo">
          <img src="./img/logo.png" alt="logo">
        </a>
        <a href="#" class="btn">Записаться в академию</a>
      </div>
      <div class="col footer__contacts">
        <h4>Наши контакты</h4>
        <p>+38 063 286 52 77</p>
        <p>+34 691 71 33 98</p>
        <p>freshartline@gmail.com</p>
      </div>
      <div class="col footer__schedule">
        <h4>График работы</h4>
        <p>Пн - Пт: с 10 до 20</p>
        <p>Сб: с 10 до 19</p>
      </div>
      <div class="col footer__social">
        <ul>
          <li><a href="#"><img src="./img/icons/facebook%201.png" alt="facebook"></a></li>
          <li><a href="#"><img src="./img/icons/instagram%201.png" alt="instagram"></a></li>
          <li><a href="#"><img src="./img/icons/youtube%201.png" alt="youtube"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <p>All Rights Reserved | Fresh Arts Line 2020</p>
  </div>
</footer>

<script src="./js/burgerMenu.js"></script>
</body>
</html>
